{% extends "_layout/base.twig" %}

{% block hero %}
{% endblock %}

{% block content %}
	{% include "_components/main-content.twig" with {
        title: '404 - Page not found',
        content: 'Please go back to the <a href="/">homepage</a>.',
        buttons: false,
        utility_links: false,
    } %}
{% endblock %}
