{% extends "_layout/base.twig" %}

{% block content %}

    {% include "_components/why-choose-us.twig" %}

    {% include "_components/category-buckets.twig" with {
        title: "Shop by category",
        buckets: topProductCats,
    } %}

    {% include "_components/reviews-section.twig" %}
    
    {% include "_components/products.twig" with {
        title: "Some title here about <span class='font-bold text-primary-bright'>how good</span> our products are",
        sideTitle: "Featured products",
        products: featured,
        btnText: "Shop all",
        btnLink: "/product-category/featured/"
    } %}

    {% include "_components/category-buckets.twig" with {
        title: "Shop by room",
        buckets: roomProductCats,
    } %}

    {% include "_components/stores.twig" %}

    {% include "_components/instagram-feed.twig" with {
        buckets: topProductCats,
    } %}

    <div class="container flex-wrap flex-grow py-8 md:py-12 lg:py-16 lg:flex">

        <main class="lg:w-2/3 lg:pr-16">

            <article class="copy">

                <h1>{{ post.meta('h1')|default(post.title) }}</h1>

                {{post.content}}

            </article>

            {% for btn in post.meta('copy_buttons') %}
                {% include "_components/button.twig" with {
                    link: btn.button.url,
                    text: btn.button.title,
                    target: btn.button.target,
                    tracking: false,
                    colour: (loop.index is odd ? 'primary-dark' : 'primary-light'),
                    classes: 'mt-5 mr-2'
                } only %}
            {% endfor %}

        </main>

        <aside class="flex flex-wrap -mx-4 lg:-my-4 lg:w-1/3">

            <div class="w-full p-4 lg:w-full md:w-1/3">
                {% include "_components/info-card.twig" with {
                    title: 'Delivery',
                    copy: 'Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula.',
                    link: '/delivery/',
                    icon: 'box',
                } %}
            </div>
            
            <div class="w-full p-4 lg:w-full md:w-1/3">
                {% include "_components/info-card.twig" with {
                    title: 'Returns',
                    copy: 'Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula.',
                    link: '/returns/',
                    icon: 'return',
                } %}
            </div>

            <div class="w-full p-4 lg:w-full md:w-1/3">
                {% include "_components/info-card.twig" with {
                    title: 'Reviews',
                    copy: 'Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula.',
                    link: '/reviews/',
                    icon: 'star',
                } %}
            </div>

        </aside>

    </div>

{% endblock %}