{% extends "_layout/base.twig" %}

{% block hero %}
	{% include "_components/hero.twig" with {
        image: post.thumbnail.src,
        subtitle: post.meta('hero_subtitle'),
        title: post.meta('hero_title')|default(post.title),
        copy: post.meta('hero_copy')|default(false),
        address: post.meta('address')|default(false),
        badge: true,
        btns: post.meta('hero_buttons')|default(false),
        deals: post.meta('hero_deals')|default(false)
    } %}
{% endblock %}

{% block content %}

    {% include "_components/why-choose-us.twig" %}

    {% include "_components/category-buckets.twig" with {
        title: "Shop by category",
        buckets: topProductCats,
    } %}

    {% include "_components/reviews-section.twig" %}
    
    {% include "_components/products.twig" with {
        title: "We stock a wide array of <span class='font-bold text-primary-bright'>high-quality</span> products",
        sideTitle: "Featured products",
        products: featured,
        btnText: "Shop all",
        btnLink: "/product-category/featured/"
    } %}

    {% include "_components/category-buckets.twig" with {
        title: "Shop by room",
        buckets: roomProductCats,
    } %}

    {% include "_components/stores.twig" with {
        background: 'white'
    } %}

    {% include "_components/gallery.twig" with {
        gallery: post.meta('gallery'),
    } %}

    {% include "_components/main-content.twig" with {
        title: post.meta('h1')|default(post.title),
        content: post.content|default(false),
        buttons: post.meta('copy_buttons')|default(false),
        utility_links: true,
    } %}

{% endblock %}