{% extends "_layout/base.twig" %}

{% block hero %}
{% endblock %}

{% block content %}

    {# <div class="bg-grey-light">{% include "_components/why-choose-us.twig" %}</div> #}

    <div class="py-8 bg-grey-light md:py-12 lg:py-16">
        <div class="container flex-wrap items-start lg:flex">
            <main class="w-full">
                <article class="copy">
                    {% filter shortcodes %}
                        <span class="block mb-4 woocommerce-breadcrumb">[wpseo_breadcrumb]</span>
                    {% endfilter %}
                    <div class="px-8 pb-8 bg-white">{{ post.content }}</div>
                </article>
            </main>
        </div>
    </div>

    {% include "_components/reviews-section.twig" %}
{% endblock %}