{% extends "_layout/base.twig" %}

{% block hero %}
{% endblock %}

{% block content %}

<div class="py-8 bg-grey-light md:py-12 lg:py-16">

    <div class="container">

        {% do action('woocommerce_before_main_content') %}

        <main class="w-full">

            <article class="">

                <h1 class="text-primary">{{post.title}}</h1>

                <div class="woocom-form">
                    {{post.content}}
                </div>

            </article>

        </main>

    </div>

</div>

{% endblock %}