{% extends "_layout/base.twig" %}

{% block hero %}
{% endblock %}

{% block content %}

<div class="container my-8 lg:my-16">

  <main class="w-full">

    <article class="copy">

      <h1>{{post.title}}</h1>

      {{post.content}}

    </article>

  </main>

</div>

{% endblock %}