<span class='ld-phonenumber'>
    {# If the calltag is set, show the calltag #}
    {% if calltag %}
        Call {{ location.location }} on
    {% endif %}

    <span class="">{{ number }}</span>  

</span>