<div class="fixed z-50 flex flex-wrap w-full bg-primary z lg:hidden">

 {#<div class="w-1/2 p-2 text-center bg-gray-500">
    {% do action('ld_default', false) %}
</div>#}

<div class="w-1/2 p-2 text-center bg-secondary">
  {% do action('ald_default', false) %}
</div>

<div class="absolute left-0 z-10 hidden w-full p-4 bg-secondary location-numbers top-10 ">
  {% do action('ald_default', false) %}
</div>

<div class="flex items-center justify-center w-1/2 p-2 text-center menu-btn bg-primary">{# {{ function('icon', 'bars') }} #}<span
    class="ml-2">Menu</span></div>

</div>
