<div class="py-8 text-white bg-primary-dark md:py-12 lg:py-16">
    <div class="container relative flex flex-wrap sm:flex-row-reverse sm:flex-nowrap">
        <div class="w-full text-white sm:w-auto text-vertical-right bar-right bg-primary-dark"><span class="text-white bg-primary-dark">{{ sideTitle }}</span></div>
        <div class="w-full">
            <div class="flex flex-wrap items-center justify-between sm:flex-nowrap">
                <span class="!mb-0 h2">{{ title }}</span>
                {% if btnLink %}
                    <div class="mt-4 text-right sm:mt-0 sm:w-48">
                        {% include "_components/button.twig" with {
                            text: btnText,
                            link: btnLink,
                            colour: 'primary-light',
                            tracking: "gtag('event' , 'Click' , { 'event_category' : '" ~ post.title ~ " body', 'event_label' : '" ~ post.title ~ " body button click Shop All' });"
                        } %}
                    </div>
                {% endif %}
            </div>
            <div class="flex flex-wrap mt-8 -mx-4 -mb-2 products">
                {% for post in products %}
                    {% include ["_shop/tease-product.twig"] %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>