<form role="search" method="get" class="flex w-4/5 xs:w-2/3 lg:w-auto search-form" action="{{site.link}}">
    <button type="submit" class="pt-1 lg:text-sm pb-1.5 pl-4 rounded-none bg-grey-light text-grey-dark search-submit">{{ fn('icon','search') }}<span class="sr-only">Search</span></button>
    <label class="w-full">
        <span class="sr-only">Search</span>
        <input type="search" class="w-full py-2 text-black border-0 lg:text-sm focus:ring-transparent bg-grey-light search-field"
            placeholder="Search for products"
            value="{{ function('get_search_query') }}" name="s"
            title="Search for products" />
    </label>
</form>