<div class="z-40 cart-slideout">
  <a href="javascript:void(0)" title="Close Ajax Cart" data-ajax-cart-close>X</a>

  <h4 class="mb-4">Cart</h4>
  
  {% include '_shop/ajax-cart-content.twig' %}
</div>