<div class="z-40 cart-slideout">
  <a href="javascript:void(0)" title="Close Ajax Cart" data-ajax-cart-close>X</a>

  <span class="mb-4 h4">Cart</span>
  
  {% include '_shop/ajax-cart-content.twig' %}
</div>