{% include '_layout/head.twig' %}

{% block header %}
	{% include "_components/header.twig" %}
{% endblock %}

{% block hero %}
	{% include "_components/hero.twig" with {
        image: post.thumbnail.src,
        subtitle: post.meta('hero_subtitle'),
        title: post.meta('hero_title')|default(post.title),
        copy: post.meta('hero_copy')|default(false),
        address: post.meta('address')|default(false),
        badge: false,
        btns: post.meta('hero_buttons')|default(false),
        deals: post.meta('hero_deals')|default(false)
    } %}
{% endblock %}

{% block content %}
    <div class="{{ post.meta('gallery') ? 'bg-white' : 'bg-grey-light' }}">
        {% include "_components/why-choose-us.twig" %}
    </div>

    {% include "_components/gallery.twig" with {
        gallery: post.meta('gallery'),
    } %}

    {% if post.content %}
        {% include "_components/main-content.twig" with {
            title: post.meta('h1')|default(post.title),
            content: post.content|default(false),
            buttons: post.meta('copy_buttons')|default(false),
            utility_links: false,
            map: post.meta('map'),
            thumb: post.thumbnail.src,
        } %}
    {% endif %}

    {% include "_components/category-buckets.twig" with {
        title: "Shop by category",
        buckets: topProductCats,
    } %}

    {% include "_components/reviews-section.twig" %}
{% endblock %}

{% block footer %}
	{% include "_components/footer.twig" %}
	{# Ajax Cart Slideout. Remove this if not needed. #}
	{% include '_shop/ajax-cart.twig' %}
{% endblock %}

{% include "_layout/foot.twig" %}

