.shop_table {
  @apply text-xs md:text-sm; 

  .product-thumbnail img {
    max-width: 120px;
    height: auto;
    @apply pt-0;
  }

  td,
  th {
    @apply px-1 py-3;
  }

  th {
    @apply font-bold;
    @apply text-base text-left;
  }

  td {
    @apply px-1 py-3;
  }

  input {
    @apply max-w-[100px];
  }

  input[type="radio"] {
      @apply w-[16px] p-0 inline-block mr-2;
  }

  .screen-reader-text {
    @apply sr-only;
  }

}

.woocommerce-checkout-review-order-table {
    th {
        @apply w-3/5;
    }
    td {
        @apply w-2/5;

        li {
            @apply flex my-2;

            input {
                @apply mt-0.5;
            }

            label {
                @apply m-0;
            }
        }
    }
}

.woocommerce-shipping-methods {
    label {
        @apply inline-block;
    }
}

.shop_table.cart {
  @apply w-full;
  @apply mb-10;

  td,
  th {
    @apply border-b;
  }

  .actions {
  }
}


/* Aside Cart upsells */
.cross-sells {
  @apply p-4 mb-8 bg-gray-100;

  h2 {
    @apply text-base;
  }

  a {
    @apply text-primary-dark;
  }
}

/* Aside Cart Totals */
.cart_totals {
  @apply p-8 bg-white;

  .checkout-button {
    @apply relative pl-5 pr-8 mt-4 font-bold;

    &:after {
        content: '';
        @apply absolute ml-2 transform -translate-y-1/2 top-1/2 right-4;
        width: 0; 
        height: 0; 
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid theme('colors.primary.bright');
    }
  }
}

/* Coupons */
.woocommerce-cart-form {
  .coupon {
    @apply flex flex-wrap w-full text-sm;

    label {
      @apply w-full mb-2 font-bold;
    }

    input {
        @apply w-full;
        @screen xs {
            width: calc(100% - 190px);
        }
    } 

    button {
      @apply w-full xs:w-[190px] m-0 font-bold rounded-l-none;
    }
  }

  /* @screen 2xl {
   .coupon {
     input {
       @apply w-3/4;
     }

     button.button {
       @apply w-1/4 mt-0 min-w-[25%];
     }
   } 
  } */
}

.cart__actions {
  @apply flex flex-wrap items-center justify-between;
}

.update-cart.button {
    @apply mt-4 ml-auto;

    &[aria-disabled="true"] {
        @apply bg-grey-dark;
        background-image: none;

        .icon {
            @apply text-white;
        }
    }
}

.cart__actions {
    @apply p-8 mt-4 bg-white md:mt-8;
}


/* START Make the WooCommerce Cart Table Responsive  for Mobile */
/* CSS published in http://www.jeremycarter.com.au/optimising-woocommerce-checkout-for-mobile/ */

@media screen and (max-width: 600px) {

    /* Force table to not be like tables anymore */
    .woocommerce-page table.shop_table.cart, 
    .woocommerce-page table.shop_table.cart thead, 
    .woocommerce-page table.shop_table.cart tbody, 
    .woocommerce-page table.shop_table.cart th, 
    .woocommerce-page table.shop_table.cart td, 
    .woocommerce-page table.shop_table.cart tr { 
        display: block; 
        border: 0;
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    .woocommerce-page table.shop_table.cart thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .woocommerce-page table.shop_table.cart tr.cart_item { 
        border-bottom: 1px solid #d2d3d3;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    .woocommerce-page table.shop_table.cart td { 
        /* Behave  like a "row" */
        /* border: 1px solid #d2d3d3;  */
        position: relative;
        padding-left: 30% !important; 
    }
    
    .woocommerce-page table.shop_table.cart {
        border: none;
    }
    
    .woocommerce-page table.shop_table.cart td.product-spacer {
        border-color: #FFF;
        height: 10px;
    }
    
    .woocommerce-page table.shop_table.cart td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 12px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        @apply text-grey-dark;
    }
    
    /*
    Label the data
    */
    .woocommerce-page table.shop_table.cart td.product-remove:before {
        content: "DELETE";
    }
    
    .woocommerce-page table.shop_table.cart td.product-thumbnail:before {
        content: "IMAGE";
    }
    
    .woocommerce-page table.shop_table.cart td.product-name:before {
        content: "PRODUCT";
    }
    
    .woocommerce-page table.shop_table.cart td.product-price:before {
        content: "PRICE";
    }
    
    .woocommerce-page table.shop_table.cart td.product-quantity:before {
        content: "QUANTITY";
    }
    
    .woocommerce-page table.shop_table.cart td.product-subtotal:before {
        content: "SUBTOTAL";
    }
    
    .woocommerce-page table.shop_table.cart td.product-total:before {
        content: "TOTAL";
    }
    
    .woocommerce .quantity, 
    .woocommerce #content .quantity, 
    .woocommerce-page .quantity, 
    .woocommerce-page #content .quantity {
        margin: 0;
    }

    .size-woocommerce_thumbnail {
        padding: 0;
        width: 80px;
    }
    
    .woocommerce-page table.cart td.actions, 
    .woocommerce-page #content table.cart td.actions {
        text-align: left;
        border:0;
        padding-left: 6px !important;
    }
    
    .woocommerce-page table.cart td.actions .button.alt, 
    .woocommerce-page #content table.cart td.actions .button.alt {
        float: left;
        margin-top: 10px;
    }
    
    .woocommerce-page table.cart td.actions div, 
    .woocommerce-page #content table.cart td.actions div,
    .woocommerce-page table.cart td.actions input, 
    .woocommerce-page #content table.cart td.actions input {
        margin-bottom: 10px;
    }
    
    .woocommerce-page .cart-collaterals .cart_totals {
        float: left;
        width: 100%;
        text-align: left;
    }
    
    .woocommerce-page .cart-collaterals .cart_totals th, 
    .woocommerce-page .cart-collaterals .cart_totals td {
        border:0 !important;
    }
    
    /* .woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.total td {
        padding-left: 6px !important;
    } */
    
    /* .woocommerce-page table.shop_table tr.cart-subtotal td,
    .woocommerce-page table.shop_table tr.shipping td,
    .woocommerce-page table.shop_table tr.total td,
    .woocommerce-page table.shop_table.order_details tfoot th,
    .woocommerce-page table.shop_table.order_details tfoot td {
        padding-left: 6px !important;
        border:0 !important;
    } */
    
    .woocommerce-page table.shop_table tbody {
        padding-top: 10px;
    }
    
    .woocommerce .col2-set .col-1, 
    .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2, 
    .woocommerce-page .col2-set .col-2,
    .woocommerce form .form-row-first, 
    .woocommerce form .form-row-last, 
    .woocommerce-page form .form-row-first, 
    .woocommerce-page form .form-row-last {
        float: none;
        width: 100%;
    }
    
    .woocommerce .order_details ul, 
    .woocommerce-page .order_details ul,
    .woocommerce .order_details, 
    .woocommerce-page .order_details {
        padding:0;
    }
    
    .woocommerce .order_details li, 
    .woocommerce-page .order_details li {
        clear: left;
        margin-bottom: 10px;
        border:0;
    }

    .cart_totals .shop_table td, .cart_totals .shop_table th {
        @apply pl-0;
    }
    
}
    
/* END Make the WooCommerce Cart Table Responsive  for Mobile */