.shop_table {
  @apply text-xs md:text-sm; 

  .product-thumbnail img {
    max-width: 50px;
    height: auto;
    @apply pt-0;
  }

  td,
  th {
    @apply px-1 py-3;
  }

  th {
    @apply font-bold;
    @apply text-base text-left;
  }

  td {
    @apply px-1 py-3;
  }

  input {
    @apply max-w-[100px];
  }

  input[type="radio"] {
      @apply w-[16px] p-0 inline-block mr-2;
  }

  .screen-reader-text {
    @apply sr-only;
  }

}

.woocommerce-checkout-review-order-table {
    th {
        @apply w-3/5;
    }
    td {
        @apply w-2/5;

        li {
            @apply flex my-2;

            input {
                @apply mt-0.5;
            }

            label {
                @apply m-0;
            }
        }
    }
}

.woocommerce-shipping-methods {
    label {
        @apply inline-block;
    }
}

.shop_table.cart {
  @apply w-full;
  @apply mb-10;

  td,
  th {
    @apply border-b;
  }

  .actions {
  }
}


/* Aside Cart upsells */
.cross-sells {
  @apply p-4 mb-8 bg-gray-100;

  h2 {
    @apply text-base;
  }

  a {
    @apply text-primary-dark;
  }
}

/* Aside Cart Totals */
.cart_totals {
  @apply p-8 bg-white;

  .checkout-button {
    @apply relative pl-5 pr-8 mt-4 font-bold;

    &:after {
        content: '';
        @apply absolute ml-2 transform -translate-y-1/2 top-1/2;
        width: 0; 
        height: 0; 
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid theme('colors.primary.bright');
    }
  }
}

/* Coupons */
.woocommerce-cart-form {
  .coupon {
    @apply flex flex-wrap w-full text-sm;

    label {
      @apply w-full mb-2 font-bold;
    }

    input {
      @apply w-3/5;
    } 

    button {
      @apply w-2/5 m-0 font-bold rounded-l-none;
    }
  }

  @screen sm {
   .coupon {
     input {
       @apply w-3/4;
     }

     button.button {
       @apply w-1/4 mt-0;
     }
   } 
  }
}

.cart__actions {
  @apply flex flex-wrap items-center justify-between;
}

.update-cart.button {
    @apply mt-4 ml-auto;

    &[aria-disabled="true"] {
        @apply bg-grey-dark;
        background-image: none;

        .icon {
            @apply text-white;
        }
    }
}

.cart__actions {
    @apply p-8 mt-4 bg-white md:mt-8;
}