.billing-shipping {
  label {
    @apply block;
    @apply mb-2;
  }

  input:not([type='checkbox']),
  select,
  textarea {
    @apply block;
    @apply w-full;
  }

  .form-row {
    @apply mb-4;
  }
}

.woocommerce-table--order-downloads,
.woocommerce-table--order-details,
.woocommerce-checkout-review-order-table {
  @apply w-full;

  td,
  th {
    @apply py-1;
  }

  thead tr,
  tfoot tr,
  tbody tr:last-child {
    @apply border-b;
  }
}

.wc_payment_method {
  @apply pb-2 mb-2 border-b;

  label {
    @apply flex items-center justify-between flex-grow;

    span {
      @apply block;
      @apply w-auto;
    }

    .icons {
      @apply flex;
      @apply justify-end;
    }

    img {
      max-height: 40px;
      width: auto;
    }
  }

  .about_paypal {
    @apply hidden;
  }

  .payment_box p {
    @apply text-sm;
  }
}

.woocommerce-privacy-policy-text p {
  @apply my-3 text-sm;
}

.place-order button {
  @apply font-bold bg-secondary;
}

.woocommerce-checkout.woocommerce-page {
    .woocom-form .woocommerce {
        @apply flex flex-wrap -mx-4;

        .woocommerce-form-login-toggle, .woocommerce-form-coupon-toggle {
            @apply w-1/2 px-4;

            .woocommerce-info {
                @apply p-8 bg-white;

                a {
                    @apply text-primary hover:underline;
                }
            }
        }

        .woocommerce-form, .woocommerce-form-coupon {
            @apply p-8 mx-auto mb-8 bg-white;
            width: calc(100% - 2rem);

            button {
                @apply relative pl-5 pr-7;
                &:after {
                    content: '';
                    @apply absolute ml-2 transform -translate-y-1/2 top-1/2;
                    width: 0; 
                    height: 0; 
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid theme('colors.primary.bright');
                }
            }
        }

        .woocommerce-form-coupon {
            input {
                @apply w-3/4;
            }
            button {
                @apply w-1/4;
            }
        }
    }
}

#place_order {
    @apply relative pl-5 pr-8;
    &:after {
        content: '';
        @apply absolute ml-2 transform -translate-y-1/2 top-1/2;
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid theme('colors.primary.bright');
    }
}

.shop_table {
    td, th {
        @apply px-3 py-3;
    }
}

.cart-empty {
    @apply px-4;
}
.woocommerce-cart {
    .cart-empty {
        @apply px-0 mb-4;
    }
}

.woocommerce_checkout_place_order {
    @apply mt-4;
}

.woocommerce-order-received {
    .woocommerce {
        @apply p-4;
    }
    .woocommerce-order {
        @apply p-8 bg-white;
    }
}

.woocommerce-NoticeGroup {
    @apply w-full;
}