.billing-shipping {
  label {
    @apply block;
    @apply mb-2;
  }

  input:not([type='checkbox']),
  select,
  textarea {
    @apply block;
    @apply w-full;
  }

  .form-row {
    @apply mb-4;
  }
}

.woocommerce-table--order-downloads,
.woocommerce-table--order-details,
.woocommerce-checkout-review-order-table {
  @apply w-full;

  td,
  th {
    @apply py-1;
  }

  thead tr,
  tfoot tr,
  tbody tr:last-child {
    @apply border-b;
  }
}

.wc_payment_method {
  @apply pb-2 mb-2 border-b;

  label {
    @apply flex-grow flex justify-between items-center;

    span {
      @apply block;
      @apply w-auto;
    }

    .icons {
      @apply flex;
      @apply justify-end;
    }

    img {
      max-height: 40px;
      width: auto;
    }
  }

  .about_paypal {
    @apply hidden;
  }

  .payment_box p {
    @apply text-sm;
  }
}

.woocommerce-privacy-policy-text p {
  @apply my-3 text-sm;
}

.place-order button {
  @apply bg-secondary font-bold;
}