.products .product {
    @apply relative;

    .button {
        @apply inline-block px-5 transition-all duration-500 text-white font-medium py-2.5 text-sm tracking-wider uppercase;
        background-size: 200%;
        background-position: 100%;
        background-image: linear-gradient(90deg,theme('colors.primary.DEFAULT') 50%,theme('colors.primary.light') 50%);

        &:hover {
            background-position: 0%;
        }
    }

}

.added_to_cart {
    @apply absolute bottom-0 right-0 w-[185.29px] text-center;
    @apply inline-block pl-5 pr-7 transition-all duration-500 text-white font-medium py-2.5 text-sm tracking-wider uppercase;
    background-size: 200%;
    background-position: 100%;
    background-image: linear-gradient(90deg,theme('colors.primary.DEFAULT') 50%,theme('colors.primary.light') 50%);
    &:hover {
        background-position: 0%;
    }
    &:after {
        content: '';
        @apply absolute ml-2 transform -translate-y-1/2 top-1/2;
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid theme('colors.primary.bright');
    }
}

.onsale {
  @apply absolute z-20 top-4 left-4;
  @apply px-2 py-1;
  @apply text-sm font-bold text-white uppercase;
  @apply bg-red-600;
}

.size-woocommerce_thumbnail {
  @apply object-contain object-center w-full h-48 px-4 pt-4;
}

.woocommerce-loop-product__title,
.product .entry-title {
  @apply mt-4;
}

.woocommerce-LoopProduct-link,
.product__info {
  @apply text-center;
  @apply flex flex-col;

  .price {
    @apply block;
    @apply mb-3;
  }
}

.product-loop-image {
    img {
        @apply object-contain object-center w-full h-full p-0 transition-all duration-500 transform hover:scale-110;
    }
}

/**
 * Before Shop Loop 
 */

.before-shop-loop {
  @apply flex flex-wrap items-center justify-between mb-3;

  select {
      @apply pr-12 text-grey-dark w-[250px];
  }
}

.woocommerce-notices-wrapper {
  @apply w-full;
}

.woocommerce-ordering {
    @apply ml-auto mr-4;
}