/**
 * Ajax Cart Slideout.
 * -----------------------------------------
 * This is the styles/controls for the cart slideout.
 * Most of this is controlled via the element as it adds a fixed wrapper.
 *
 * @file: /views/partials/shop/ajax-cart.twig
 */
.cart-slideout {
  transition: .3s;
  max-width: 340px;

  @apply fixed top-0 bottom-0 flex flex-col flex-wrap items-start w-full bg-white left-full;

  &.active {
    transform: translateX(-100%);
    box-shadow: 0 0 100px rgba(39,39,66,.4);
  }

  .button {
    @apply relative inline-block pl-5 pr-8 transition-all duration-500 text-white font-medium py-2.5 text-xs tracking-wider uppercase;
        background-size: 200%;
        background-position: 100%;
        background-image: linear-gradient(90deg,theme('colors.primary.dark') 50%,theme('colors.primary.DEFAULT') 50%);
        &:hover {
            background-position: 0%;
        }
        &:after {
            content: '';
            @apply absolute ml-2 transform -translate-y-1/2 top-1/2;
            width: 0; 
            height: 0; 
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid theme('colors.primary.bright');
        }
        &.checkout {
            background-image: linear-gradient(90deg,theme('colors.primary.DEFAULT') 50%,theme('colors.primary.light') 50%);
        }
  }

  h4 {
      @apply px-5 py-2.5 mb-0 inline-block text-sm font-medium tracking-wider text-white uppercase bg-primary;
      width: calc(100% - 48px);
  }

  a[data-ajax-cart-close] {
    @apply px-5 py-2.5 text-sm transition-all duration-500 inline-block font-medium text-white;
    background-size: 200%;
    background-position: 100%;
    background-image: linear-gradient(90deg,theme('colors.primary.DEFAULT') 50%,theme('colors.primary.light') 50%);
    &:hover {
        background-position: 0%;
    }
    width: 48px;
  }

  .woocommerce-mini-cart-item {
    @apply border-grey;
  }

  .cart-slideout-details {
      @apply w-full;
  }
}

.cart-slideout-details {
  @apply p-5;
}


/**
 * WooCommerce Applied/HTMl Applied Classes.
 * -----------------------------------------
 * Use these to overwrite the style of the mini-cart that pops out
 * on the side of the screen. If you aren't using the mini-cart anywhere
 * you can remove these or rely on purgecss.
 &
 * @file: /woocommerce/cart/mini-cart.php
 */
.woocommerce-mini-cart {
}

.woocommerce-mini-cart-item {
  @apply flex;
  @apply mb-2;
  @apply pb-2;
  @apply border-b;

  &:last-child {
    @apply pb-0 border-b-0;
  }

  .remove {
    @apply mr-2;
  }

  .image {
    @apply mr-2;
  }

  img {
    max-width: 50px;
    height: auto;
  }
}

.woocommerce-mini-cart__total {
  @apply py-3 my-3;
  @apply border-t border-b;
  @apply block;
}

.woocommerce-mini-cart__buttons {
  @apply flex;

  a:first-child {
    @apply mr-4;
  }
}
