.woocommerce-pagination {
  @apply mt-3;

  .page-numbers {
    @apply flex;
    @apply justify-center;
  }

  .page-numbers li {
    @apply mr-2;
  }

  .page-numbers li a,
  .page-numbers li span {
    width: 34px;
    height: 34px;
    @apply flex items-center justify-center font-medium;

    &.prev, &.next {
        @apply text-xs text-primary-bright;
    }
  }

  .page-numbers li a {
      @apply transition-all duration-500;
    background-image: linear-gradient(90deg,theme('colors.primary.DEFAULT') 50%,theme('colors.primary.light') 50%);
    background-size: 200%;
    background-position: 100%;

    &:hover {
        background-position: 0%;
    }
  }
}
