.price {
  @apply font-bold;

  del .amount {
      @apply text-red-600;
  }

  ins {
    @apply no-underline;

     .amount {
      @apply  border-none;
    }
  }
}

/* Ratings */
.woocommerce-product-rating {
  @apply flex items-center;
  @apply mb-2;
}

.woocommerce .comment-form-rating {
  @apply my-4;
}

.woocommerce .comment-form-cookies-consent {
  @apply flex mt-4 text-xs;

  input {
    @apply w-auto mr-4;
  }
}

.woocommerce .comment-form {
  .form-row {
    @apply mb-4;
  }
  .form-submit {
    @apply inline-block mt-4;
  }
}

.woocommerce .star-rating {
  height: 1em;
  line-height: 1;
  width: 110px;
  @apply relative overflow-hidden;
  @apply mr-1;

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::before {
    content: '★★★★★';
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1.5em;
  }

  span::before {
    content: '★★★★★';
    position: absolute;
    color: gold;
    top: 0;
    left: 0;
  }
}

/* Single product main image */
.woocommerce-product-gallery {
  @apply relative;

  .woocommerce-product-gallery__trigger {
    @apply absolute top-0 right-0 z-50 flex items-center justify-center w-12 h-12 bg-white;
  }

  .woocommerce-product-gallery__wrapper img {
    @apply w-full h-auto cursor-pointer;
  }  
}


/* Single product gallery thumbnails */
.flex-control-thumbs {
  @apply flex flex-wrap items-center mt-4;

  li {
    @apply w-1/2 p-2 cursor-pointer 2xs:w-1/3 xs:w-1/4 sm:w-1/6;

    img {
      @apply object-cover w-full;
    }
  }
}

/* Notice that appears after product added to cart */
.woocommerce-message {
  @apply p-4 mb-4 text-sm font-bold text-center rounded-md bg-secondary md:mb-8 md:text-left;

  a {
    @apply block p-4 mb-2 text-center bg-white md:inline-block md:mr-8 md:mb-0;
  }
}


/* Product quantity and add to cart */
.single-cart {
  @apply p-4 mt-4 bg-gray-100;

  label {
    @apply my-2;
  }

  button {
    @apply mt-4 bg-secondary;
  }
}


/* Tabs */
.product-tab-link {
  @apply inline-block;
  @apply px-4 py-2 mx-2;

  &.active {
    @apply font-bold rounded-t bg-secondary;
  }
}

.product-tab-panel {
  @apply border;
  @apply px-6 py-4;
}

/* Related products */
.related {
  @apply p-8 mb-8 bg-gray-100;
}
