<form method="POST" action="#" class="adv-ld__number-form">
    <div class="adv-ld-panel__row-item"><input name="location-name" class="adv-ld-panel__input"></div>
    <div class="adv-ld-panel__row-item"><input name="location-label" class="adv-ld-panel__input"></div>
    <div class="adv-ld-panel__row-item"><input name="calltag" class="adv-ld-panel__input" required></div>
    <div class="adv-ld-panel__row-item"><input name="seo" class="adv-ld-panel__input" required></div>
    <div class="adv-ld-panel__row-item"><input name="ppc" class="adv-ld-panel__input"></div>
    <div class="adv-ld-panel__row-item"><input name="insights" class="adv-ld-panel__input"></div>
    <div class="adv-ld-panel__row-item"><input name="tracking-label" class="adv-ld-panel__input"></div>
    <div class="adv-ld-panel__row-item">
        <input type="hidden" name="location-id">
        <button class="button button-primary" type="submit">Save</button>
    </div>
</form>