<div class="adv-ld-panel__row-item adv-ld-panel__location-name"></div>
<div class="adv-ld-panel__row-item adv-ld-panel__location-label"></div>
<div class="adv-ld-panel__row-item adv-ld-panel__calltag"></div>
<div class="adv-ld-panel__row-item adv-ld-panel__seo"></div>
<div class="adv-ld-panel__row-item adv-ld-panel__ppc"></div>
<div class="adv-ld-panel__row-item adv-ld-panel__insights"></div>
<div class="adv-ld-panel__row-item adv-ld-panel__tracking-label"></div>
<div class="adv-ld-panel__row-item">
    <a class="adv-ld-panel__edit-row button" href="#">Edit</a>
    <a class="adv-ld-panel__delete-row button button-danger" href="#">Delete</a>
</div>